apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.deploymentName }}-config
data:
  application.properties: |
    EUREKA_SERVER_URL=http://192.168.178.91:8761/eureka/
    server.port=8080
    lifecycle.retry.max=50
    lifecycle.heartbeat.retry.max=50
    store.json.path=./services.json

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.deploymentName }}-service
data:
  services.json: |
    [
    {
        "serviceName": "MY-SERVICE",
        "hostName": "localhost",
        "httpPort": 8080,
        "securePort": 8443,
        "ipAddr": "127.0.0.1",
        "dataCenterInfoName": "MyOwn",
        "status": "UP",
        "sslPreferred": true
    },
    {
        "serviceName": "ANOTHER-SERVICE",
        "hostName": "gmk",
        "httpPort": 9090,
        "securePort": 443,
        "ipAddr": "127.0.0.1",
        "dataCenterInfoName": "MyOwn",
        "status": "UP",
        "sslPreferred": true
    },
    {
        "serviceName": "DUMMY-SERVICE",
        "hostName": "gmk.lan",
        "httpPort": 7070,
        "securePort": 7443,
        "ipAddr": "127.0.0.1",
        "dataCenterInfoName": "MyOwn",
        "status": "UP",
        "sslPreferred": false
    }
    ]

